*{
    background: #296c91;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
  
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
    border-radius: 50px;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    text-align: center;
    border: none;
    color: #032e63;
    margin-top: 90px;
    height: 500px;
    width: 750px;
    text-transform: lowercase;
}

::placeholder{
    color: #032e63;}
    .text-area:focus {
        outline: none;
    }

.mensaje{
    background: white;
    background-image: url("./imagen/giphy.gif");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #032e63;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    height: 800px;
    width: 580px;
}

.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.boton-encriptar{
    background: #d8dfe8;
    border: 1px solid  #032e63;
    border-radius: 24px;
    color: #032e63;
    cursor: pointer;
    height: 67px;
    margin-left: 45px;
    width: 328px;
}

.boton-desencriptar{
    background: #032e63;
    border: 1px solid  #032e63;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}


.informacion{
    color: black;
    font-size: 18px;
}


